<footer class="usa-footer usa-footer--slim">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <div class="mobile-lg:grid-col-8">
        <nav class="usa-footer__nav" aria-label="Footer navigation">
          <ul class="grid-row grid-gap">
            <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="javascript:void(0);">Quick Link 1</a>
            </li>
            <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="javascript:void(0);">Quick Link 2</a>
            </li>
            <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="javascript:void(0);">Quick Link 3</a>
            </li>
            <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="javascript:void(0);">Quick Link 4</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="usa-footer__logo grid-row grid-gap-2">
        <div class="grid-col-auto">
          <p>&copy; {% assign current_year = 'now' | date: "%Y" %}{{ current_year }} OPM</p>
        </div>
        <div class="grid-col-auto">
          <p>On June 26, 2013, the Supreme Court ruled that Section 3 of the Defense of Marriage Act (DOMA) is unconstitutional. As a result of the Supreme Court’s decision, the United States Office of Personnel Management (OPM) will now be able to extend certain benefits to Federal employees and annuitants who have legally married a spouse of the same sex, regardless of the employee’s or annuitant’s state of residency. OPM is currently in the process of updating and revising the website to reflect this change, and will be updating this information as soon as possible. Please check back in the coming weeks for updates.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
