<ul class="usa-nav__primary usa-accordion">
  <li class="usa-nav__primary-item">
    <a class="usa-nav__link" href="{{ "/" | relative_url }}"><span>Home</span></a>
  </li>
  <li class="usa-nav__primary-item">
    <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="nav-section-one">
      <span>Veterans' Preference</span>
    </button>
    <ul id="nav-section-one" class="usa-nav__submenu">
      <li class="usa-nav__submenu-item">
        <a href="{{ '/preference-in-appointments' | relative_url }}">Preference in Appointments</a>
      </li>
      <li class="usa-nav__submenu-item">
        <a href="{{ '/preference-in-rif' | relative_url }}">Preference in Reduction in Force</a>
      </li>
    </ul>
  </li>
  <li class="usa-nav__primary-item">
    <a class="usa-nav__link" href="{{ '/special-appointing-authorities' | relative_url }}"><span>Special Appointing Authorities</span></a>
  </li>
  <li class="usa-nav__primary-item">
    <a class="usa-nav__link" href="{{ '/restoration-after-uniformed-service' | relative_url }}"><span>Restoration after Uniformed Service</span></a>
  </li>
  <li class="usa-nav__primary-item">
    <a class="usa-nav__link" href="{{ '/special-redress-and-appeals' | relative_url }}"><span>Special Redress And Appeals</span></a>
  </li>
  <li class="usa-nav__primary-item">
    <a class="usa-nav__link" href="{{ '/miscellaneous-provisions' | relative_url }}"><span>Miscellaneous Provisions</span></a>
  </li>
  <li class="usa-nav__primary-item">
    <a class="usa-nav__link" href="{{ "/appendices/" | relative_url }}"><span>Appendices</span></a>
  </li>
</ul>
